.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  position: absolute;
  width: 92%;
  z-index: 10;
  color: #fff;
}

.headerWrapper {
  display: flex;
  justify-content: center;
}

.headerBlock {
  display: flex;
  align-items: center;
}

.headerlist {
  display: flex;
  list-style: none;
  gap: 50px;
}

.headerButton {
  background-color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 100px;
  cursor: pointer;
}
